
<main class="parent">
    <div class="div1">
        Title of section

    </div>
    <div class="div2">
        <button class="btn">Overview</button>
        <button class="btn">Files</button>
        <button class="btn">Info</button>
    </div>
    <div class="div3">




        <div class="milestones">
            <div class="mls">
                milestone 1<br>
                00/00/00
            </div>
            <div class="mls">
                milestone 1<br>
                00/00/00
            </div>
            <div class="mls" style="border-color: var(--gray); border-width: 5px;">
                milestone 1<br>
                00/00/00
            </div>
            <div class="mls" style="border-color: var(--gray); border-width: 5px;">
                milestone 1<br>
                00/00/00
            </div>


        </div>





    </div>
    <div class="div4">
        <iframe src="https://husj.vibrandstudio.com/" style="border: none;"></iframe>
    </div>
    <div class="div5"> </div>
    <div class="div6 keep">


        <div></div>
        <div class="single-note">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            text
        </div>

        <div class="single-keep">
            text
        </div>

        <div class="single-note">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            text
        </div>


        <div class="single-note">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            text
        </div>

        <div class="single-keep">
            text
        </div>

        <div class="single-note">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            text
        </div>


        <div class="single-note">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            text
        </div>

        <div class="single-keep">
            text
        </div>

        <div class="single-note">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            text
        </div>


        <div class="single-note">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            text
        </div>

        <div class="single-keep">
            text
        </div>

        <div class="single-note">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            text
        </div>

    </div>
</main>