<style>
  footer {
    background-color: var(--coral);
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
    align-items: center;
  }

  footer img.logo {
    width: 100px;
    height: 38px;
    object-fit: cover;
    object-position: 0 -10px;
  }

  footer .legal {

    display: flex;
    flex-direction: column;
    font-size: var(--btn-font-size);

  }

  footer .social {

  }

  footer .social svg {
    width: 30px;
    height: 30px;
    background-color: var(--white);
    border-radius: 50%;
  }

  footer .social svg path {
    scale: 0.6;
    transform-origin: center;
    fill: var(--coral);
  }
</style>

<footer>
  <a href="/" style="all: unset; cursor: pointer;">
    <img src="logo.svg" class="logo" />
  </a>
  <div class="legal">
    <a href="/privacypolicy">Privacy Policy</a>
    <a href="/termsconditions">Terms & Conditions</a>
    <a href="/copyrighttext">Copyright Text</a>
  </div>
  <div class="social">
    <a href="#">
      <svg viewBox="0 0 100 100">
        <path id="facebook-icon" />
      </svg>
    </a>
    <a href="#">
      <svg viewBox="0 0 100 100">
        <path id="instagram-icon" />
      </svg>
    </a>
    <a href="#">
      <svg viewBox="0 0 100 100">
        <path id="email-icon" />
      </svg>
    </a>
    <br>
    <a href="#">
      <svg viewBox="0 0 100 100">
        <path />
      </svg>
    </a>
    <a href="#">
      <svg viewBox="0 0 100 100">
        <path id="linkedIn-icon" />
      </svg>
    </a>
    <a href="#">
      <svg viewBox="0 0 100 100">
        <path id="phone-icon" />
      </svg>
    </a>
  </div>
</footer>
</body>

</html>