.login {
    width: 900px;
    height: 600px;
    background-color: aqua;
    border-radius: 25px;
    display: flex;
    padding: 15px;
    gap: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(214deg, var(--coral) 24%, #f0e29c 43%, #589fc2 97%);
}

.login form {
    width: 45%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login svg {
    width: 60%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.login label {
    font-size: 13px;
    margin-left: 18px;
    margin-bottom: 3px;
}

.login input {
    padding: 13px;
    margin-bottom: 25px;
    border-radius: var(--btn-radius);
    border: var(--btn-border);
    border-color: var(--coral);
    color: var(--coral);
    background-color: transparent;
    font-size: var(--btn-font-size);
}

.login input[type="submit"] {
    background-color: var(--coral);
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.login span {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--black);
    text-align: center;
}

.login .check {
    margin: 0px;
    font-size: 13px;
    color: var(--black);
    margin-left: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.login .login #password {
    margin-bottom: 10px;
}

.login .check.pass {
    margin-bottom: 30px;
}

.login .check input {
    margin: 0;

}

.login .login a {
    text-decoration: underline;
    font-size: 12px;
    text-align: center;
    color: var(--gray);
    font-weight: 400;
}

.login #login-close {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin: 15px;
    background-color: #ffffffd1;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    /* dark overlay */
    backdrop-filter: blur(8px);
    /* blur effect */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}